<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="/styles/before_login_wishlist.css">
</head>
    <%- include("navbar.ejs")%>
    <div class="box_1">
        <img id="box_1img" src="/styles/photo/before_login_Cart.png" alt="">
        <p>Login to see the items you have added previously</p>
        <a href="/l"><button>Login</button></a>
    </div>
    <%- include("footer.ejs")%>
</body>
</html>